@model Uzytkownik

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Hasło</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.id</td>
            <td>@Model.imie</td>
            <td>@Model.nazwisko</td>
            <td>@Model.email</td>
            <td>@Model.tel</td>
            <td>@Model.haslo</td>
        </tr>
    </tbody>
</table>
