@model Offer

@{
    ViewData["Title"] = "Szczegóły Oferty";
}

<h2>@Model.Opis</h2>
<p><strong>Cena:</strong> @Model.Cena</p>
<p><strong>Ocena:</strong> @Model.Ocena</p>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>ID Rezerwacji:</strong> @Model.Rezerwacja_Id</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Powrót do Ofert</a>
